<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock %}</title>
    {% block styles %}{% endblock %}
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" class="navbar-brand">Goal Organizer</a>
                <ul class="navbar-links">
                    <a href="/">Home</a>
                    <a href="/form">New Person</a>
                    <a href="/goals" class="active">My Goals</a>
                    <a href="/dashboard">Dashboard</a> 
                </ul>
            </div>
            
        </nav>
    </header>

    <main>
        {%block content %} {% endblock %}
    </main>

</body>
<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</html>