<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" class="navbar-brand">Goal Achiever
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-check-fill" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5m9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5m-2.6 5.854a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                    </svg>
                </a>
                <ul class="navbar-links">
                    <a href="/">Home</a>
                    <a href="/goals" id="goals">Goals</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/workspace">Workspace</a>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {%block content %} {% endblock %}
    </main>

<script src="{{ url_for('static', filename='base.js') }}"></script>
</body>
<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</html>