<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" class="navbar-brand">Goal Organizer</a>
                <ul class="navbar-links">
                    <a href="/">Home</a>
                    <a href="/goals" id="goals">Goals</a>
                    <a href="/dashboard">Dashboard</a> 
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {%block content %} {% endblock %}
    </main>

<script src="{{ url_for('static', filename='base.js') }}"></script>
</body>
<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</html>