{% extends 'base.html' %}

{% block content %}
    <div class="homepage-header">
            <h1>my dahsboard</h1>
        </div>
    <div class="home-container">
        <div class="homepage-card-container">
            <div class="homepage-card">
                <div class="card-header">
                    <h2>Top priority goals</h2>
                </div>
                <div class="active-goals-grid">
                    {% for goal in goals[:5] %}
                        <div class="goal-card">
                            <span class="badge badge-{{ goal.priority }}">{{ goal.priority }}</span>
                            <h3 class="goal-title">{{ goal.title }}</h3>
                            <p class="goal-description">{{ goal.description | truncate(50) }}</p>
                        </div>
                    {% endfor %}
                </div>
                    <div style="display: flex; align-items: center; padding: 0px 12px; margin: 20px 0px; margin-bottom: 0px;">
                        <a href="/goals" style="text-decoration: none; width: 120px; overflow: visible; margin: 0 auto;">
                            <button class="homepage-action-btn">Open Goals</button>
                        </a>
                    </div>
            </div>
            <div class="homepage-card">
                <div class="card-header">
                    <h2>completed goals</h2>
                </div>
            </div>
            <div class="homepage-card">
                <div class="card-header">
                    <h2>history/milestones/statistics/</h2>
                </div>
                <ul>
                    <li>Active goals: {{goal_count}}</li>
                    <li>Achieved goals: (number)</li>
                    <li>Streak flame: (number)</li>
                </ul>
            </div>
        </div>
        
    </div>
    
{% endblock %}