{% extends 'base.html' %}

{% block title %} Form {% endblock %}

{% block content %}
<form action="/dashboard" method="GET">
            <label for="username">Name:</label>
            <input autocomplete="off" autofocus="name" type="text" id="username" name="username">
            <label for="username">Email:</label>
            <input autocomplete="off" autofocus="email" type="text" id="email" name="email">
            <br>
            <button type="submit">Submit</button>
    </form>
{% endblock %}