{% extends 'base.html' %}

{% block title %} Goals {% endblock %}

{% block content %}

<div class="goal-container">
    
    <!-- ADD NEW GOAL FORM -->
    <div id="form_container" class="hidden">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
            <h2 style="margin: 0;">Add new goal: </h2>
            <!-- Close form button -->
            <button type="button" id="close_form_btn">&times;</button>
        </div>

        <form action="/add-goal" method="POST" id="new_goal_form">
            
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" id="title" name="title" placeholder="Project goal">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="Place goal description"></textarea>
            </div>

            <div class="form-group">
                <label for="tasks">Tasks (separate with comma):</label>
                <input type="text" id="tasks" name="tasks" placeholder="Whatch a tutorial, Create database, Form design">
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label for="difficulty">Difficulty</label>
                    <select id="difficulty" name="difficulty">
                        <option value="Easy">Easy</option>
                        <option value="Medium" selected>Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="priority">Priority:</label>
                    <select id="priority" name="priority">
                        <option value="a">A (high)</option>
                        <option value="b" selected>B (medium)</option>
                        <option value="c">C (low)</option>
                    </select>
                </div>
            </div>

            <button type="submit">Save Goal</button>
        </form>
    </div>

    <!-------------------- SHOW GOALS TABLE ------------------------>
    <div class="table-container">
        <div class="bar-above-table">
            <h1>my active goals</h1>
            <button id="open_form_btn">+ ADD GOAL</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Name</th>
                    <th>Tasks</th>
                    <th>Difficulty</th>
                    <th>Progress</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- Petlja prolazi kroz sve ciljeve poslane iz app.py -->
                {% for goal in goals %}
                    {% if not goal.is_completed or goal.is_completed %}
                    
                        <tr class="clickable-row" data-href=" {{ url_for('main.view_goal', goal_id=goal.id) }}">
                            <td><span class="badge badge-{{ goal.priority }}">{{ goal.priority }}</span></td>
                            <td style="text-align: left; max-width: 200px;">
                                <h2 style="white-space: wrap; overflow: wrap;">{{ goal.title | truncate(30)}}
                                    {% if goal.is_confirmed_finished %}
                                        (Finished)
                                    {% endif %}
                                </h2>
                                <p style="color: #7f8c8d; max-width: 250px; font-size: 0.8rem; margin: 5px 0px;">{{ goal.description | truncate(90) or 'Nema opisa' }}</p>
                                <!--<small class="date">{{ goal.created_at.strftime('%d. %m. %Y. %H:%M') }}</small>-->
                            </td>
                            <td>
                                {% if goal.tasks %}
                                <ul style="padding: 0px;">
                                    {% for task in goal.tasks[:3] %}
                                        {% if task %}
                                            <li class="task-cell">
                                                <label>
                                                    <span class="{% if task.is_completed %}completed-task{% endif %}">
                                                        {{ task.text }}
                                                    </span>
                                                </label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if goal.tasks|length > 3 %}
                                        <li class="task-cell" style="color: #9ea0a0;">
                                            +{{ (goal.tasks|length) - 3 }} tasks...
                                        </li>
                                    {% endif %}
                                </ul>
                                {% else %}
                                <small style="color: #b2bec3;">No tasks</small>
                                {% endif %}
                            </td>
                            <td>{{ goal.difficulty }}</td>
                            <td>{{ goal.progress_percentage | round | int }}%</td>
                            <td class="status-cell">
                                {% if goal.is_completed %}
                                <span class="status-done">Completed</span>
                                {% else %}
                                <span class="status-pending">Pending</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="6" style="text-align: center; color: #7f8c8d;">You do not have any active goals right now. Add your first goal above!</td>
                        </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static', filename='goals.js') }}"></script>
{% endblock %}
